/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    font-weight: 700;
    font-size: 16px;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('backdesign.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #e74c3c;
    color: white;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #c0392b;
}

/* About Section */
.about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Section.png') no-repeat center center;  
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Skills Section */
.skills {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('skills.jpg') no-repeat center center;
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Portfolio Section */
.portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('work.jpg') no-repeat center center;
    padding: 70px 0px;
    text-align: center;
    color: #fff;

}

.portfolio h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.portfolio-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    width: 30%;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    height: 10;
    width: 10;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.portfolio-item h3 {
    font-size: 1.6em;
    margin-top: 15px;
}

.portfolio-item p {
    font-size: 1em;
    color: #777;
}

/* Contact Section */
.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('msg.jpg') no-repeat center center;
    padding: 70px 0px;
    text-align: center;
    color: #fff;

}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.contact input, .contact textarea {
    padding: 60px 20px;
 }